html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.div1 {
    width: 1280px;
    height: 1455px;
    text-align: center;
    background: rgba(238,238,238,0.26);
}
ul {
    margin-top: 0;
    margin-bottom: 0;
}
ul.size li {
    display: inline;
    margin-right: 42px;
    padding: 3px;
    font-family: Roboto;
    text-align: center;
    color: #16a085;
    font-size: 18px;
    font-weight: 900;
    line-height: 60px;
   }
.h1 {
    font-family: Roboto;
    color:  #373737;
    font-size: 22px;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
   }
.div2 {
    font-family: Roboto;
    color: #373737;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 26px;
    text-align: center;
    width: 1059px;
    margin-left: auto;
    margin-right: auto;
}
.text1 {
    margin-bottom: 25px;
}
.div3 {
    font-family: GothamRounded;
    font-size: 13px;
    color: white;
    border-radius: 3px;
    background-color:  #16a085;
    width: 210px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    display: block;
    padding-top: 15px;
}
.div4 {
    font-family: Roboto;
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1.5px;
    text-align: right;
    margin-top: 150px;
    margin-bottom: 40px;
    background: white;
    width: 1180px;
    height: 40px;
}